.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-mdc-table {
  background: grey !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

mat-paginator {
  background: #1a2b39 !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

td, th {
  color: white !important;
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap; /* Prevent text wrapping */
}

th {
  background-color: #1a2b39!important;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .mat-elevation-z8 {
    margin: 0;
    overflow-x: auto;
  }

  /* Ensure table headers and content fit on one line */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  tr {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
  }

  th, td {
    flex: 1 1 auto;
    display: inline-block;
    white-space: nowrap;
  }

  .mat-paginator {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 10px 0;
  }

  .mat-paginator .mat-mdc-paginator-page-size {
    margin-bottom: 10px;
  }

  .mat-paginator .mat-mdc-paginator-range-label,
  .mat-paginator .mat-mdc-paginator-navigation {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  td {
    font-size: 12px;
    padding: 8px;
  }

  .mat-paginator {
    font-size: 12px;
  }

  .mat-paginator .mat-mdc-paginator-range-label,
  .mat-paginator .mat-mdc-paginator-navigation {
    flex-direction: column;
    gap: 5px;
  }
}
