// // Footer styles
// .footer {
//     background-color:#007bff;;
//     color: #ffffff;
//     padding: 20px 0;
//     text-align: center; /* add this to center the content */
//   }
  
//   .footer h5 {
//     font-size: 18px;
//     font-weight: 500;
//     margin-bottom: 10px;
//   }
  
//   .footer p {
//     font-size: 14px;
//     margin-bottom: 20px;
//   }
  
//   .footer ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     display: inline-block; /* add this to center the ul */
//   }
  
//   .footer li {
//     display: inline-block;
//     margin-right: 20px;
//   }
  
//   .footer a {
//     color: #ffffff;
//     text-decoration: none;
//   }
  
//   .footer a:hover {
//     color: #cccccc;
//   }
  
//   .footer i {
//     font-size: 24px;
//   }

.footer {
  background-color: #1b2a39;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer h5 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 3px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer li {
  display: inline-block;
  margin-right: 20px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #cccccc;
}

.footer i {
  font-size: 24px;
}

@media (max-width: 767.98px) {
  .footer ul {
    display: block;
    text-align: center;
  }

  .footer li {
    display: block;
    margin: 10px 0;
  }
}
