<div class="container " style="padding-top: 150px !important;">
    <div class="card" style="width: 30rem; margin: auto;">
      <div class="card-body">
        <h2 class="card-title text-center"> Reset Password </h2>
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            <div *ngIf="email!.touched && email!.invalid" class="text-danger">
              <div *ngIf="email!.errors?.['required']">Email is required</div>
              <div *ngIf="email!.errors?.['email']">Email must be valid</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="otp" class="form-label">OTP</label>
            <input type="text" id="otp" class="form-control" formControlName="otp">
            <div *ngIf="otp!.touched && otp!.invalid" class="text-danger">
              OTP is required
            </div>
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
            <div *ngIf="newPassword!.touched && newPassword!.invalid" class="text-danger">
              New Password is required
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
            <div *ngIf="confirmPassword!.touched && confirmPassword!.invalid" class="text-danger">
              Confirm Password is required
            </div>
            <div *ngIf="passwordResetForm.errors?.['passwordMismatch']" class="text-danger">
              Passwords do not match
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
      </div>
    </div>
  </div>
  